.mat-flat-button {
    height: 40px;
    transition: all .2s ease-in-out;

    background: $neutral-90;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

    @include notouch-hover {
        background: darken($neutral-90, 5%);
    }
    > mat-icon {
        margin: 0;
    }
    p,
    span {
        color: $neutral-10;
    }

    &[disabled],
    &.mat-button-disabled {
        background: $neutral-80 !important;
        color: $neutral-50 !important;
        cursor: not-allowed;
        opacity: 1;
    }
}

.mat-flat-button.mat-primary {
    @include set-bg-lighten($primary, $white, 10%);

    p,
    span {
        color: $white;
    }

    &[disabled],
    &.mat-button-disabled {
        background: lighten($primary, 25%) !important;
        color: rgba($white, 0.7) !important;
    }
}

.mat-flat-button.mat-secondary {
    @include set-bg-lighten($secondary, $white, 5%);

    p,
    span {
        color: $white;
    }

    &[disabled],
    &.mat-button-disabled {
        background: lighten($secondary, 25%) !important;
        color: rgba($white, 0.7) !important;
    }
}
