@import "../../../assets/scss/1-settings/variables";
@import "../../../assets/scss/3-tools/breakpoints";
@import "../../../assets/scss/3-tools/fluid-type";
@import "../../../assets/scss/3-tools/flexbox";
@import "../../../assets/scss/3-tools/notouch-hover";

 .login-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    @include for-size(md-down) {
        flex-direction: column;
    }
}

.illustration-section {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral-99;

    .illustration-image {
        max-width: 100%;
        height: auto;
        display: block;
    }

    @include for-size(md-down) {
        display: none;
    }
}

.login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: $spacing-xl;

    @include for-size(md-down) {
        padding: $spacing-m;
        min-height: 100vh;
        justify-content: space-between;
    }
}

.login-card {
    width: 100%;
    max-width: 400px;
    background-color: $white;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 100%;
    }

    @include for-size(md-down) {
        padding: $spacing-m;
        box-shadow: none;
    }

    .realdooh-logo {
        margin-bottom: $spacing-xl;
    }

    .heading--3 {
        color: $neutral-10;
        margin-bottom: $spacing-l;
    }

    .form-group {
        text-align: left;
        margin-bottom: $spacing-m;
        width: 100%;

        &:last-of-type {
            margin-bottom: $spacing-l;
        }

        label {
            display: block;
            margin-bottom: $spacing-xs;
            font-size: $font-s;
            color: $neutral-40;
            font-weight: normal;
        }

        .form-control {
            width: 100%;
            padding: $spacing-s $spacing-m;
            border: 1px solid $neutral-80;
            border-radius: $border-radius-s;
            font-size: $font-m;
            color: $neutral-20;
            box-sizing: border-box;
            height: 48px;


            &:focus {
                outline: none;
                border-color: $primary;
                box-shadow: 0 0 0 2px rgba($primary, 0.2);
            }

            &::placeholder {
                color: $neutral-60;
            }
        }

        .password-input-wrapper {
            position: relative;
            display: flex;
            align-items: center;

            input.form-control {
              width: 100%;
              padding: $spacing-s $spacing-m;
              border: 1px solid $neutral-80;
              border-radius: $border-radius-s;
              background-color: $white;
              color: $neutral-20;
              font-size: $font-m;
              padding-right: $spacing-xl;
              border-color: $neutral-80;

              &:focus {
                  border-color: $primary;
                  outline: none;
              }
              &:focus + .password-toggle-icon {
                  color: $primary;
              }
          }

          .password-toggle-icon {
            position: absolute;
            right: $spacing-s;
            top: 50%;
            transform: translateY(-50%);
            color: $neutral-50;
            cursor: pointer;
            font-size: $font-l;
            width: $font-l;
            height: $font-l;

            transition: color 0.2s ease-in-out;
          }
        }
    }

    .mat-flat-button {
        &.mat-primary {
            margin-bottom: $spacing-s;
            height: 48px;
        }
        &.mat-secondary {
            height: 48px;
        }
    }

    .other-access-methods {
        margin-top: $spacing-m;
        margin-bottom: $spacing-m;
        width: 100%;

        p {
            margin-bottom: $spacing-s;
            font-size: $font-s;
        }
    }

    .no-account-text {
        font-size: $font-s;
        color: $neutral-50;
        margin-top: $spacing-l;

        a {
            font-weight: bold;
            text-decoration: underline;
            &:hover {
                color: darken($primary, 10%);
            }
        }
    }

    .login-result {
      margin: 16px 0;
      font-weight: 500;
      font-size: $font-m;

      &.error {
        color: $error;
      }

      &.success {
        color: $success;
      }
    }
}

.footer-info {
  height: 44px;
  width: 100%;

    @include for-size(md-down) {
        margin-top: $spacing-m;
    }

    .language-selector {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
      padding: 0 $spacing-s;

      mat-icon {
        color: $neutral-50;
      }
    }

    .econacom-logo {
        width: auto;
    }
}
